/*footer*/
.footer_top{
  background-color: #FFA04F;
  padding: 40px 0;
}
.footer_top h2{
  font-size: 36px;
  color: #fff;
  font-weight: 400;
  font-family: "open-sans-bold";
}
.footer_top p{
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  font-family: "open-sans-regular";
}
.download_cont{
  background-color: #fff;
  width: 300px;
  padding: 10px 30px;
  border-radius: 20px;
  color: #FFA04F;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 7%;
  font-size: 16px;
  box-shadow: 0px 2px 1px #ddd;
  cursor: pointer;
}
.download_cont span i.fa:last-child{
  padding-left: 15px;
}
.footer_bottom{
  background-color: #4A4A4A;
  padding-bottom: 40px;
}
.bottom_cont .cont1{
  padding: 50px 0;
}
.bottom_cont .cont1 .footer_nav li a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  outline: 0;
  padding-right:30px; 
}
.bottom_cont .cont1 .social_link{
  margin-top: -8px;
}
.bottom_cont .cont1 .social_link li{
  padding-right: 25px;
}
.bottom_cont .cont1 .social_link li:last-child{
  padding-right: 0;
}
.bottom_cont .cont1 .social_link li a img{
  width: 42px;
  height: 42px;
}
.payment_icons li{
  padding-right: 25px;
}
.payment_icons li:last-child{
  padding-right: 0;
}
.payment_icons li a span{
    background: rgba(0, 0, 0, 0) url("../assets/images/payment_icons.png") repeat scroll 0 100px;
    background-position-x: 0px;
    background-position-y: 100px;
    display: inline-block;
}
.payment_icons li.p1 a span {
    background-position: -45px -360px;
    width: 36px;
  height: 16px;
}
.payment_icons li.p2 a span {
    background-position: -0px -360px;
    width: 46px;
  height: 16px;
}
.payment_icons li.p3 a span {
    background-position: -49px -376px;
    width: 25px;
  height: 16px;
}
.payment_icons li.p4 a span {
    background-position: -89px -396px;
    width: 17px;
  height: 16px;
}
.payment_icons li.p5 a span {
    background-position:  -0px -406px;
    width: 24px;
  height: 16px;
}
.payment_icons li.p6 a span {
    background-position:  -81px -360px;
    width: 36px;
  height: 16px;
}
.footer_bottom p{
  color: #fff;

}


